@import "tailwindcss";
* {
  box-sizing: border-box;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
  --azul-marinho-real: #1a2b4c;
  --cinza-grafite: #333333;
  --dourado-champange: #c5a059;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.cta-button {
  background-color: var(--dourado-champange);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
}
.heroMaster {
  background-image: url(/my-app/public/hero.png);
}
html,
body {
  overflow-x: hidden;
  width: 100%;
}
